h1{
    text-shadow: 1px 1px 1px #ff65f0, 
               3px 3px 5px rgb(245, 6, 213);  
    font-size: 50px;
    color: rgb(57, 218, 25);
}

h2{
    font-size: 30px;
    color: rgb(91, 200, 33);
}
h3{
    text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue; 
    font-size: 20px;
    color: rgb(220, 205, 205);
}
.mario{
    position: fixed;
    bottom: 10px;
    left:  10px;
   
    animation: saltar 2s infinite ;
}
@keyframes saltar {
    50%{
         transform: translateY(-90px);
    }
}

h4{color: rgb(52, 199, 39);}
body {
    background-image: url(https://wallpapers.com/images/hd/vaporwave-tablet-kahaw87jy50ky0se.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
header {
    height: 150px;
    grid-column: span 4 / span 4;
    background-image: url(violet-neon-pattern-wallpaper-2560x1600_7\ \(1\).jpg);
    border-radius: 13px ;
}

main { 
    height: 1100px;
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    background-attachment: fixed;
    background-image: url(https://wallpapers.com/images/featured/pc-gaming-zvbj1ryoiptz09af.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav { width: 200px;
     
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 1;

}

footer {
    grid-column: span 4 / span 4;
    grid-row-start: 5;
  
}
.cuadrado {
    padding: 40px;
    border: 13px;
    margin: 80px;

}
.texto{
    height: 700px;
    margin: 40px;
    padding: 60px;
    border: 13px;
    border-radius: 3%;
}
.navegacion{
    width: 200px;
    margin: 40px;
    padding: 60px;

}
.navegacion img:hover{
    border-radius: 10%;
    
}
