.parent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
    height: 300px;
    width: 200px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent div{
    border: 1px solid rgb(127, 127, 127);
    background: #88b0b8;
    background: linear-gradient(180deg,rgba(136, 176, 184, 1) 0%, rgba(161, 156, 156, 1) 50%, rgba(227, 252, 242, 1) 100%, rgb(139, 181, 178) 100%);
    display: flex;
    justify-content: center;
    align-items: center ;
}
.div1{
    display: flex;
}
.parent div:hover{
    border: 1px solid black;
    background: #fff0de;
    background: linear-gradient(180deg,rgba(255, 240, 222, 1) 0%, rgba(255, 161, 102, 1) 51%, rgba(252, 176, 69, 1) 100%);
}
 
.div1{
    background-color: linear-gradient(180deg,rgba(136, 176, 184, 1) 0%, rgba(161, 156, 156, 1) 50%, rgba(227, 252, 242, 1) 100%, rgba(99, 199, 192, 1) 100%);
    height: 40px;
    justify-content: end;
}
.div1 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-row-start: 3;
}

.div3 {
    grid-row-start: 3;
}

.div4 {
    grid-row-start: 3;
}

.div5 {
    grid-row-start: 3;
}

.div6 {
    grid-row-start: 3;
}

.div7 {
    grid-row-start: 4;
}

.div8 {
    grid-row-start: 4;
}

.div9 {
    grid-row-start: 4;
}

.div10 {
    grid-row-start: 4;
}

.div11 {
    grid-row-start: 4;
}

.div12 {
    grid-row-start: 5;
}

.div13 {
    grid-row-start: 5;
}

.div14 {
    grid-row-start: 5;
}

.div15 {
    grid-row-start: 5;
}

.div16 {
    grid-row-start: 5;
}

.div17 {
    grid-row-start: 6;
}

.div18 {
    grid-row-start: 6;
}

.div19 {
    grid-row-start: 6;
}

.div20 {
    grid-row-start: 6;
}

.div21 {
    grid-row-start: 6;
}

.div22 {
    grid-row-start: 7;
}

.div23 {
    grid-row-start: 7;
}

.div24 {
    grid-row-start: 7;
}

.div25 {
    grid-row-start: 7;
}

.div26 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 8;
}

.div27 {
    grid-column-start: 3;
    grid-row-start: 8;
}

.div28 {
    grid-column-start: 4;
    grid-row-start: 8;
}

.div29 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 7;
    height: 68px;
}
        